ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: whitesmoke;
  border-radius: 5px;
}

li {
  float: left;
  color: whitesmoke;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* li a:hover {
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
} */

.navigation-toolbar {
  display: flex;
  margin-top: 30px;
  border-radius: 5px;
}

.navigation-toolbar .nav-links {
  width: 45%;
  border-radius: 5px;

}

.navigation-toolbar .match {
  width: 45%;
  border-radius: 5px;
}

.navigation-toolbar .login-button {
  width: 10%;
  border-radius: 5px;
  text-align: centre;
  text-decoration: none;
  height: auto;
  padding-top: 4px;
  margin: 10px;
  font-size: large;
  font-weight: bold;
}

.lastpart {
  display: flex;

}

.lastpart div {
  width: 50%;
  text-align: left;
  padding-left: 75px;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

* {
  box-sizing: border-box;
}

body {
  background-color: coral;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: large;
  font-weight: 100;
}